main {
    min-height: 100vh;
    background: linear-gradient(black, rgb(5, 5, 76));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Delte form section */
.delete-form {
    animation: shadow 1s alternate infinite;
}

.delete-form form {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.delete-form p {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btns button {
    color: white;
    background: red;
    padding: 5px 10px;
    border: none;
}

.btns a {
    text-decoration: none;
    color: white;
    background: #a17e20;
    padding: 5px 10px;
}


/* Info box section */
.info-box h1 {
    color: white;
    font-weight: 400;
    text-align: center;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 1px red;
    }

    100% {
        box-shadow: 0px 0px 20px red;
    }
}